<!--
https://stackoverflow.com/questions/30169915/bootstrap-3-create-list-with-text-and-image-left-aligned
 -->
<!--
<div class="container" >
 <div class="row">
   <div class="col-md-6">
     <div class="media">
	   <div class="media-left">
	     <a href="#">
		    <img class="media-object" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==" alt="...">

		  </a>
		  </div>
		  <div class="media-object">
		     <h4 class="media-heading"> Media Heading </h4>
		   </div>
		 </div><-- media->

	  </div> <-- col- 6 ->

	   </div> < -- row ->

    <div class="row">
	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="..." alt="Card image cap">
	  <div class="card-body">
	     <h5 class="card-title"> Card title </h5>
		 <p class="card-text">This is the arlycs style of display mobile and friends gadgets </p>
		 <a href="#" class="btn btn-primary"> Go Buy it </a>
	   </div>
	 </div>
	</div>

 </div> <-- Container ->

 https://benetis.me/old/posts/creating-shopping-cart-with-product-list-in-angular2/

 -->

<app-spa-product-list [products]="products"></app-spa-product-list>

