.bg-panel{
    
   padding: 10px 10px 20px 20px;
}
.panel-primary {
    background-color: beige;
}
.btn-block {
    margin-top: 5px;
    padding: 2px 2px 2px 1px;
    width: 30%;
        
}
.input-align{
    width: 50%;
    height : 30px; 
    margin-bottom: 2px;
    /*padding : 0, 0 1px 2px;*/
    
}
.txt-block {
    
    
}
.modal-back {
    
    background-color: beige;
}
.modal-heading {
    background-color: #ededed;
}