<div class="col-form-sm-label post">
    <h3>{{data.title}}</h3>
    <h5><i class="fa fa-fw fa-building-0"> </i> {{data.client}} </h5>
    <ul> 
    <li class="">  <i class="fa fa-history"> </i>&nbsp; {{data.experience}} </li> 
    <li class="">  <i class="fa fa-money"> </i>&nbsp; {{data.payment}}  </li> 
    <li class="">  <i class="fa fa-map-marker"> </i>&nbsp; {{data.location}}
    </li> 
      </ul>
  <hr> 
    <dl> <dt>{{data.posted}} </dt> <dd>{{data.date}} </dd>
        <dt>{{data.tagged}} </dt> <dd>{{data.applicants}} </dd>
      </dl>
      
  </div>
