<style> 
 .rowColor { 
  background-color: beige;
  border-color: #86867f;
  
 } 
 .tabHead {
   border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
border-top: 0;
    border-top-color: currentcolor;
border-left: 0;
    border-left-color: currentcolor;
border-right: 0;
    border-right-color: currentcolor;

border-color: #c2b7cc;
border-radius: 2px;
width: max-content;
 }
 .primaryInner {
  background-color: #d1c9da;
  border-color: #b1a5c6;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  width:max-content;
  flex-direction: row-reverse;
   padding-right: 3em;
   padding-bottom: 0em;
 }
</style>
<div class="containter" > 
 <div class="row justify-content-md-center rowColor"> 
   <div class="col border-top border-left border-3 rounded ">
       <div class="d-flex tabHead" >
           <i class="fa fa-arrow-left"></i> Shop Settings
        </div>
       <div class="d-flex float-right  primaryInner">
            <app-name [name]="param['shopname']"></app-name> </div>
   </div>
   <div class="col border-top border-right border-3 rounded">
     <div class="d-flex tabHead" > Site  Settings</div>
      <div class="d-flex float-right primaryInner">
       	 <app-name [name]="param['sitename']"></app-name> </div>
       
   </div>
   
   <div class="col border-top border-right  border-3 rounded-top">
      <div class="d-flex tabHead" > User Settings</div>
       <div class="d-flex float-right  primaryInner" >
            <app-name [name]="param['username']"></app-name> </div>
   </div>
 </div>
 <div class="row justify-content-md-center rowColor"> 
   <div class="col-4 border-top-2 border-right border-left border-3 rounded-top">
         
      		 	<div class="d-flex tabHead" >Application Settings</div>
       		 <div class="d-flex float-right primaryInner"> 
         <app-name [name]="param['appname']"></app-name> </div>
          
   </div>
   <div class="col-4 border-top border-right border-left border-3 rounded-top">
      <div class="d-flex tabHead" > Store  Settings</div>
       <div class="d-flex float-right  primaryInner"> 
         <app-name [name]="param['storename']"></app-name></div> 
       
   </div>
   
   <div class="col-4 border-top border-right border-left border-3 rounded-top">
      <div class="d-flex tabHead	" > Browser Settings</div>
      <div class="d-flex float-right primaryInner">
         <app-name [name]="param['browsername']" ></app-name></div>
   </div>
</div>
</div>