<div class="column is-half">
 <!-- [mustMatch]="['password', 'confirmPassword']"  -->
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
  <h1>Login</h1>
  <div class="field">
    <div class="control">
      <input class="input" type="text" placeholder="Email" [(ngModel)]="postData.email" name="email"
        />
      <!-- <div *ngIf="f.submitted &&  email.invalid" class="invalid-feedback">
         <div *ngIf="email.errors.required">
            Email is Required
         </div>
       </div> -->
   <!-- [ngClass]="{'is-invalid': f.submitted &&  email.invalid }" required -->
    </div>
  </div> 
  <div class="field">
    <div class="control">
      <input class="input" type="password" placeholder="Password" [(ngModel)]="postData.password" name="password"/>
    </div>
  </div>
  <div class="field">
    <div class="control">
     <span   class='has-text-danger'>{{errorText}}</span>
    </div>
  </div>
  <div class="field">
    <div class="control">
     <a routerLink="/forgot" >Forgot password?</a>
    </div>
  </div>
  <a class="button is-primary" (click)="loginAction()">Login</a>
  </form>
</div>
